---
---

.egonav {
  p {
    margin-bottom: 1.625em;
    color: #bbb;
  }

  a {
    color: #e4741f
  }

  h1, h2 {
    color: white;
    font-weight: bold;
  }

  h1 {
    text-align: center;
  }

  h2 {
    margin: 0 0 .8125em;
  }

  .egonav-image {
    width: 100%;
  }
}
